
    <title>Insert Information</title>
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->
    {% extends "navbar.html" %}

    {% block content %}
    <div class="container">
      <br>

        <h1 align = 'center'>- Insert Information -</h1>
        <br>

        <form  action="{{ url_for('insertCSV') }}" method="POST">
          <div class="mb-3">
            <label for="filecsv" class="form-label">file csv</label>
            <input type="text" class="form-control" name="filecsv" id="filecsv" placeholder="C:\Users\ADMIN\Desktop\GIS_PJ\AirQualitydb.csv">
          </div>
          <button id='btn_submit' type="submit" class="btn btn-success"  name="button">Submit</button>
        </form>

        <br>
        <h5 align = 'center'>or</h5>

        <form  action="{{ url_for('add') }}" method="POST">
  
       <div class="mb-3">
         <label for="county" class="form-label">Country</label>
         <input type="text" class="form-control" name="county" id="county" placeholder="Albania">
       </div>      
       <div class="mb-3">
         <label for="city" class="form-label">City</label>
         <input type="text" class="form-control" name="city" id="city" placeholder="Tirana">
       </div>
       <div class="mb-3">
         <label for="latitude" class="form-label">Latitude</label>
         <input type="text" class="form-control" name="latitude" id="latitude" placeholder="41.33026886">
       </div>  
       <div class="mb-3">
         <label for="longitude" class="form-label">Langitude</label>
         <input type="text" class="form-control" name="longitude" id="longitude" placeholder="19.82177162">
       </div>  
       <div class="mb-3">
         <label for="years" class="form-label">Year</label>
         <input type="text" class="form-control" name="years" id="years" placeholder="2013">
       </div>
       <div class="mb-3">
         <label for="populations" class="form-label">Population</label>
         <input type="text" class="form-control" name ="populations" id="populations" placeholder="453509">
       </div>  
       <div class="mb-3">
         <label for="pm25" class="form-label">PM25</label>
         <input type="text" class="form-control" name ="pm25" id="pm25" placeholder="16.06236628">
       </div>
       <div class="mb-3">
         <label for="wbinc16_text" class="form-label">Income</label>
         <input type="text" class="form-control" name ="wbinc16_text" id="wbinc16_text" placeholder="Upper middle income">
       </div>  
       <div class="mb-3">
         <label for="region" class="region">Region</label>
         <input type="text" class="form-control" name ="region" id="formGroupExampleInput" placeholder="Europe (LMIC)">
       </div>  
            
          <button id='btn_submit' type="submit" class="btn btn-success"  name="button">Submit</button>
      </form>
       
    </div>  
    {% endblock %}   
