  <title>Table information</title>
    {% extends "navbar.html" %}

    {% block content %}
    <br>
    <h1 align = 'center' >- Table information -</h1>
    <br>
    <table class="table table-bordered" action="{{ url_for('delete',county = county,city = city, years = years, latitude = latitude, longitude = longitude) }}", method="GET" >
        <thead>
          <tr>
            <th>country</th>
            <th>city</th>
            <th>years</th>
            <th>latitude</th>
            <th>longitube</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for row in r %}
          <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>
            <td>{{row.4}}</td>
            <td>{{row.5}}</td>
            <td>
              <a href="/delete/{{row.0}}/{{row.1}}/{{row.2}}/{{row.4}}/{{row.5}}" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete</a>
            </td>
          </tr>
            

          {% endfor %}
        </tbody>
      </table>
      <a href="/" class="btn btn-primary">เพิ่มรายชื่อใหม่</a>

      
      {% endblock %}   