{% extends "navbar.html" %}

{% block content %}
  <body>

    <h1 align = 'center' >- insert year -</h1>
    <form  class="container" action = "{{ url_for('gm')}}" method="POST">

        <div class="col-md-6">
            <label for="years" class="form-label">year</label>
            <input type="text" class="form-control" name="years" id="years" placeholder="2021">
        </div>
        <div class="col-md-6">
            <label for="wbinc16_text" class="form-label">income</label>
            <input type="text" class="form-control" name="wbinc16_text" id="wbinc16_text" placeholder="2021">
        </div>
        <br>
        <button  id='btn_submit' type="submit" class="btn btn-success"  name="button">Search</button>
    </form>
  </body>
{% endblock %} 