<title>Map</title>
  <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 70%;
        width: 70%;
        margin: auto;
      }
      

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        
        margin: auto;
        padding: 0;
      }
      
    </style>
  {% extends "navbar.html" %}

  {% block content %}
  <body>

    
    <br>
    <h1 align = 'center' >- {{tiltle}}{{year}} -</h1>
    <br>
    <div id="map"></div>
    <script>
      var map;

      /*
        ทำตัวแปร jsondata ให้เป็น JSON Object
        สร้างตัวแปร arr ให้มี format ตามตัวแปร podition
        จากนั้นวนลูป for มา plot บน google api
      */
      
      let jsondata = '{{jsonn | tojson}}';
      jsondata = jsondata.substring(1,jsondata.length - 1)
      jsondata = JSON.parse(jsondata);
      var arr = []
      console.log(typeof(jsondata));
      console.log(jsondata);

      for(var i in jsondata){
        arr.push({lat:jsondata[i]["latitude"],
                  lng:jsondata[i]["longitude"],
                  county:jsondata[i]["county"],
                  city:jsondata[i]["city"],
                  pm25:jsondata[i]["pm25"],
                  Distance:jsondata[i][""] }) // สร้าง array ชื่อว่า arr มาเพื่อเก็บตัวแปร format แบบ position
      } // รับค่ามาใส้ตัวแปรแล้วรันลูป

      console.log(arr);
      console.log(arr.length);
      //document.write('{{jsonn}}');
    

      var position ={lat:13.847860,lng:100.604274};
      var mydata = "Hello";
      console.log(mydata);
     
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'),{
              center: arr[0],
              zoom: 4,
        });
      var infowindow = new google.maps.InfoWindow();
      for (i = 0; i < arr.length; i++) {    // วนลูปเพื่อ marker plot แต่ละตัวแปรใน arr
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(arr[i]["lat"], arr[i]["lng"]),
          map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
              //infowindow.setContent('<div style= "font-size: 15px; " > {{city}} </div>');
              infowindow.setContent(arr[i]["city"],arr[i]["county"]);
              infowindow.open(map, marker);
          }
        })(marker, i));
    }
                
      }

    </script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=[apikey]&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
  {% endblock %} 