<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>narbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
  

  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">PM25</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/historical">Historical PM 2.5<span class="sr-only"></span></a>
            <a class="nav-item nav-link" href="/affected">the affected population</a> 
            <a class="nav-item nav-link" href="/index">Data Information</a>
            <a class="nav-item nav-link" href="/pmgreater">Download Data</a>
           <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Data
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/index">Data Information</a></li>
                <li><a class="dropdown-item" href="/pmgreater">Download Data</a></li>-->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Map
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/closestcity">50 closest city points to Bangkok</a></li>
                <li><a class="dropdown-item" href="/neighboring">the city points of Thailand’s neighboring</a></li>
                <li><a class="dropdown-item" href="/MBR">MBR covering all city points in Thailand</a></li>
                <li><a class="dropdown-item" href="/highestno">countries having the highest no in 2011</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/citylowcome">the city of low income</a></li>
                <li><a class="dropdown-item" href="/allcountries">the city points of all countries</a></li>

              </ul>
            </li>
          </div>
        </div>
      </nav>
      <main>
            {% block content %}
    
            {% endblock %}
      </main>
</body>
</html>
